<%= page_title "Links" %>

<dl>
  <dt>Google Chart API Developer's Guide</dt>
  <dd><a href="http://code.google.com/apis/chart">http://code.google.com/apis/chart</a></dd>

  <dt>Github repository of this demo</dt>
  <dd><a href="http://github.com/francois/mor7-google-charts-demo">http://github.com/francois/mor7-google-charts-demo</a></dd>

  <dt>Clone the repository yourself</dt>
  <dd><tt>$ git clone http://github.com/francois/mor7-google-charts-demo</tt></dd>
</dl>
